* {
	scrollbar-width: thin;
	scrollbar-color: blue transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: blue;
	border-radius: 20px;
	border: 3px solid transparent;
}


::selection {
	background: #FF00AA; /* WebKit/Blink Browsers */
	color: #99BB00;
}
::-moz-selection {
	background: #FF00AA; /* WebKit/Blink Browsers */
	color: #559900; /* Gecko Browsers */
}

.nav-pills > li > a.active, .nav-pills > li > a:focus {
	color: black !important;
	background-color: #00FFFF !important;
}
	.nav-pills > li > a:hover {
		color: #888888;
		background-color: #003333;
	}

.nav-link {
	color: #999999;
	background-color: #222222;

}

.side-bar {
	position: absolute;
	left: 10%;
	top: 5%;
}

.center-area {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.highlights {
	font: 20px/28px "Courier New", Courier, monospace;
	letter-spacing: 1px;
	color: transparent;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.backdrop, .div-textarea {
	width: 35%;
	height: 85%;
	left: 1%;
	top: 5%%;
}

.backdrop {
	position: absolute;
	z-index: 1;
	border: 2px solid transparent;
	background-color: #202020;
	overflow: auto;
}

.div-textarea {
	border: 2px solid red;
	letter-spacing: 1px;
	z-index: 2;
	font: 20px/28px "Courier New", Courier, monospace;
	position: absolute;
	color: #00FAFF;
	display:inline-block;
	background-color: transparent;
	overflow: auto;
	resize: none;
}

.editor-button-box {
	border: 2px solid red;
	position:absolute;
	width: 10%;
	height: 80%;
	left: 38%;
	overflow: auto;
	resize: none;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	background-color:
}

.editor-buttons {
}

mark-reg {
	border-radius: 3px;
	padding: 0;
	font: 20px/28px "Courier New", Courier, monospace;
	letter-spacing: 1px;
	color: transparent;
	background-color: #404040;
}

mark-const {
	border-radius: 3px;
	padding: 0;
	font: 20px/28px "Courier New", Courier, monospace;
	letter-spacing: 1px;
	color: transparent;
	background-color: #404040;
}

mark-var {
	border-radius: 3px;
	padding: 0;
	font: 20px/28px "Courier New", Courier, monospace;
	letter-spacing: 1px;
	color: transparent;
	background-color: #404040;
}

mark-comment {
	border-radius: 3px;
	padding: 0;
	font: 20px/28px "Courier New", Courier, monospace;
	letter-spacing: 1px;
	color: transparent;
	background-color: #404040;
}

mark-label {
	border-radius: 3px;
	padding: 0;
	font: 20px/28px "Courier New", Courier, monospace;
	letter-spacing: 1px;
	color: transparent;
	background-color: #404040;
}

.ctext-reg {
	color: #ff1a3c;
}

.ctext-const {
	color: #a1ff7f;
}

.ctext-var {
	color: #15ffa2;
}

.ctext-comment {
	color: #AAAAAA;
}

.ctext-label {
	color: #1affa1;
}


.navbar-custom {
	background-color: #111111;
}
body { background: #000000 !important; }
